h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    /* auto 속성을 사용하면 margin을 좌우 동등하게 배분하여 요소가 중앙에 위치하게 됨 */
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}

/* transform-origin -- 회전하는 기준점(변환점)을 지정 */
section:first-of-type h1:nth-of-type(1) {
    /* transform-origin: top right; */
    transform: rotate(45deg);
}
section:first-of-type h1:nth-of-type(2) {
    transform: scale(0.6);
    /* transform: scaleY(2); */
}

/* translate: 좌우, 상하로 움직임 */
section:first-of-type h1:nth-of-type(3) {
    transform: translateX(200px);
}
section:first-of-type h1:nth-of-type(4) {
    transform: translate(-100px, 50px);
}

/* skew: 회전 또는 기울기 */
section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(30deg);
}
/* skew(x축 deg, y축 deg) */
section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(-20deg) scale(1.3);
}
section:nth-of-type(2) h1:nth-of-type(4) {
    transform: translateX(-500px) rotate(0.5turn) scaleY(1.5);
}

section:nth-of-type(2) {
    transform: scale(0.7) translateX(500px);
}
