<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>The Home Page <%= 'hello world' .toUpperCase() %>
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta a culpa consectetur maxime laboriosam, odit
    provident quidem. Sapiente aspernatur harum natus veritatis! Repellendus, cumque eligendi veritatis blanditiis modi
    aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et unde cum eius, inventore accusantium pariatur
    mollitia earum eos consectetur autem architecto dolorum voluptatum magnam. Maiores optio veniam facere repellat
    cumque?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta a culpa consectetur maxime laboriosam, odit
    provident quidem. Sapiente aspernatur harum natus veritatis! Repellendus, cumque eligendi veritatis blanditiis modi
    aperiam.</p>
</body>

</html>