h2 {
    color: #5fcffc;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

/* RGB로 색상 표현 
  rgb(0,0,255) */

/*  16 진수로 색상 표현 */
/*  #ffff00
  각 두자리가 red, green, blue
  ff-> 255를 나타냄 */
/* #000000 -> exactly same #000 */
