h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Segoe UI, Futura, Arial, sans-serif;
    /* 유저가 해당 글꼴이 없을 경우의 차선책들 나열 */
    /* 또는 대표적인 글꼴 묶음 말로 font-family 지정 */
    font-family: monospace;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}

/* RGB로 색상 표현 
  rgb(0,0,255) */

/*  16 진수로 색상 표현 */
/*  #ffff00
  각 두자리가 red, green, blue
  ff-> 255를 나타냄 */
/* #000000 -> exactly same #000 
확장 및 단축이 가능*/
