body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 150px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */

    /* flex-wrap: wrap-reverse; -- 교차축을 변경할 때 사용할 수 있음 */
}

/* flex-direction: 컨테이너의 기본 축 방향 설정 -- default는 row */

#container div {
    width: 150px;
    height: 150px;
    /* max-width: 250px; */
    text-align: center;
    flex-basis: 500px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

div:nth-of-type(5) {
    flex-grow: 2;
    flex-shrink: 0;
}

/* justify-content: 실제 요소, 콘텐츠가 기본 축에 분산되는 방식 결정 */
/* default -- flex-start */

/* flex-wrap: 교차축을 반전 */

/* align-items: 메인 축이 아닌 교차축 기준으로 정렬 */

/* align-content: 요소가 교차축 기준으로 분산 -- flex-wrap이 있을 경우에만 해당
   - 즉, 행이 하나 이상일 때 사용함 */

/* align self: 플렉스 컨테이너의 개별 항목에 대한 것.  */

/* flex-basis: 추가 공간이 분배되기 전에 요소의 초기 크기를 정의 */

/* flex-grow: 사용가능한 공간이 있는 경우 요소가 차지하는 공간의 양을 제어 */

/* flex-shrink: 다른 요소에 비해 얼마나 축소되어야 하는지를 나타냄 */

/* flex: 세 가지 요소가 있을 경우 - flex-grow | flex-shrink | flex-basis */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 300px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    flex: 1 2 200px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 600px;
}
